<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Password Change</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<section class="bg-gray-50 dark:bg-gray-900">
    <div
            class="mx-auto flex flex-col items-center justify-center px-6 py-8 md:h-screen lg:py-0"
    >
        <a
                th:href="@{/login}"
                class="mb-6 flex items-center text-2xl font-semibold text-gray-900 dark:text-white"
        >
            <img
                    class="mr-2 h-8 w-8"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
                    alt="logo"
            />
            Pdf Managment
        </a>
        <div
                class="w-full rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800 sm:max-w-md md:mt-0 xl:p-0"
        >
            <div class="p-6 space-y-4 sm:p-8 md:space-y-6">
                <h1
                        class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-2xl"
                >
                    Reset Password
                </h1>
                <form
                        class="space-y-4 md:space-y-6"
                        role="form"
                        th:action="@{/reset_password}"
                        method="post"
                >
                    <input type="hidden" name="token" th:value="${token}"/>
                    <div class="alert" id="alert">
                        <div th:if="${error != null}">
                            <p
                                    class="rounded-t px-4 font-bold text-red-500"
                                    th:text="${error}"
                            ></p>
                        </div>
                        <div th:if="${message != null}">
                            <p
                                    class="rounded-t px-4 font-bold text-yellow-500"
                                    th:text="${message}"
                            ></p>
                        </div>
                    </div>

                    <div>
                        <label
                                for="password"
                                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >New Password</label
                        >
                        <input
                                type="password"
                                name="password"
                                id="password"
                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-900 p-2.5 focus:border-sky-600 focus:ring-sky-600 dark:placeholder-gray-400 dark:border-gray-600 dark:bg-gray-700 dark:text-white sm:text-sm dark:focus:border-blue-500 dark:focus:ring-blue-500"
                                placeholder="Enter new Password"
                                required
                                autofocus
                                onclick="hide()"
                                oninput="checkPasswordMatch()"
                        />
                        <div class="my-3 text-red-500">
                            <p class="password-requirements" id="passwordRequirements">
                                ✓ At least 1 lowercase letter<br/>
                                ✓ At least 1 uppercase letter<br/>
                                ✓ At least 1 digit
                            </p>
                        </div>
                        <input
                                type="password"
                                name="confirmPassword"
                                id="confirmPassword"
                                class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-900 p-2.5 focus:border-sky-600 focus:ring-sky-600 dark:placeholder-gray-400 dark:border-gray-600 dark:bg-gray-700 dark:text-white sm:text-sm dark:focus:border-blue-500 dark:focus:ring-blue-500"
                                placeholder="Confirm new Password"
                                required
                                disabled
                                oninput="checkPasswordMatch()"
                                onclick="hide()"
                        />

                        <div
                                class="rounded-t px-4 py-2 font-bold text-white text-red-500 error-message"
                                id="passwordMatchError"
                        ></div>
                    </div>

                    <button
                            type="submit"
                            value="Change Password"
                            id="submitButton"
                            disabled
                            class="w-full rounded-lg bg-sky-500 px-5 text-center text-sm font-medium text-white py-2.5 hover:bg-sky-700 focus:outline-none focus:ring-4 focus:ring-sky-300 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800"
                    >
                        Change Password
                    </button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already have an account yet?
                        <a
                                href="/login"
                                class="font-medium text-sky-600 hover:underline dark:text-sky-500"
                        >
                            Login here</a
                        >
                    </p>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="items-center bg-blue-500 text-center">
            <p>
                &copy; 2023 PDF Management & Collaboration System. All rights
                reserved.
            </p>
        </div>
    </footer>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-9ZSIqH9UhC84KQ7l0zvjjrrC8hJO8VYSC55W4yDff6xu/C9scc+5T/z1RPOna/AT"
            crossorigin="anonymous"
    ></script>
</section>

<script>
    const hide = () => {
        document.getElementById("alert").innerHTML = "";
    };

    function checkPasswordMatch() {
        const password = document.getElementById("password").value;
        const confirmPassword =
            document.getElementById("confirmPassword").value;
        const passwordMatchError =
            document.getElementById("passwordMatchError");
        const submitButton = document.getElementById("submitButton");
        const passwordRequirements = document.getElementById(
            "passwordRequirements"
        );

        // Password validation requirements
        var requirements = [
            {
                expression: /^(?=.*[a-z])/,
                message: "At least 1 lowercase letter",
                valid: false,
            },
            {
                expression: /^(?=.*[A-Z])/,
                message: "At least 1 uppercase letter",
                valid: false,
            },
            {
                expression: /^(?=.*\d)/,
                message: "At least 1 digit",
                valid: false,
            },
        ];

        var validRequirements = 0;
        passwordRequirements.innerHTML = ""; // Clear the previous requirements

        requirements.forEach(function (requirement) {
            requirement.valid = requirement.expression.test(password);
            if (requirement.valid) {
                validRequirements++;
                passwordRequirements.innerHTML +=
                    "<p class='password-requirements success'>✓ " +
                    requirement.message +
                    "<br/>" +
                    "</p>";
            } else {
                passwordRequirements.innerHTML +=
                    "<p class='password-requirements error'>✕ " +
                    requirement.message +
                    "</p>";
            }
        });

        if (validRequirements === requirements.length) {
            document
                .getElementById("passwordRequirements")
                .classList.add("success");
            document.getElementById("confirmPassword").disabled = false;

            if (password === confirmPassword) {
                passwordMatchError.textContent = "";
                document
                    .getElementById("confirmPassword")
                    .classList.remove("input-error");
                document
                    .getElementById("confirmPassword")
                    .classList.add("input-success");
                submitButton.disabled = false;
            } else {
                passwordMatchError.textContent = "Passwords do not match!";
                document
                    .getElementById("confirmPassword")
                    .classList.add("input-error");
                document
                    .getElementById("confirmPassword")
                    .classList.remove("input-success");
                submitButton.disabled = true;
            }
        } else {
            document
                .getElementById("passwordRequirements")
                .classList.remove("success");
            document.getElementById("confirmPassword").disabled = true;
            passwordMatchError.textContent = "";
            document
                .getElementById("confirmPassword")
                .classList.remove("input-error");
            document
                .getElementById("confirmPassword")
                .classList.remove("input-success");
            submitButton.disabled = true;
        }
    }
</script>
</body>
</html>
